.header {
    background-color: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
    height:4em;
    width: 100.5%;
    position: relative;
    top: -10px;
    left: -5px;
}

div.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 1em;
    margin-right: 1em;
}

.primary-nav {
    list-style-type: none;
    padding: 0;
}

.header .link {
    height: 2em;
    width: 5em;
    color: #000000;
    text-decoration: none;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.header .link:hover {
    background-color: #000000a6;
    color: #ffffff;
}

.primary-nav li {
    display: inline-block;
    margin-right: 1em;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.active {
    color: #8a8a8a;
    text-decoration: underline; 
}

.active .link {
    color: #8a8a8a;
}