.header {
    background-color: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
    height:4em;
    width: 100.5%;
    position: relative;
    top: -10px;
    left: -5px;
}

.primary-nav {
    list-style-type: none;
}

.header .link {
    height: 2em;
    width: 5em;
    color: #000000;
    text-decoration: none;
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.header .link:hover {
    background-color: #000000a6;
    color: #ffffff;
}

.primary-nav li {
    display: inline-block;
    margin-right: 1em;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.active {
    background-color: #97979767;
}